body {
    background-color:rgb(21, 116, 176);
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 20px;
}

h1 {
    color: yellow;
    font-weight: 900;
    font-style: italic;
    font-size: xx-large;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.loading-spinner {
    width: 100%;
}

.hidden {
    display: none;
}

.show-previous {
    text-align: center;
}

.show-previous:hover {
    cursor: pointer;
    background-color: #666;
    color: white;
}

.menu-icon {
    z-index: 2;
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 10px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.menu-icon:hover {
    background-color:azure;
    color: black;
    border-radius: 10px;
}

ul.menu {
    padding: 80px 0px;
    background-color: #333;
    color: white;
    position: absolute;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    z-index: 1; 
}

ul.menu.menu--show {
    left: 0;
}

ul.menu > li {
    padding: 20px;
    list-style: none;;
}
ul.menu > li:hover {
    background-color: #666;
    cursor: pointer;
}

.container-js {
    background-color: #333;
    border-radius: 10px;
}

/* Gör varje programrad flexibel (tid + namn i samma rad) */
.list-item-flex {
    display: flex;
    align-items: center;
    justify-content: space-between; /* sprider ut tid till vänster och namn till höger */
    gap: 1rem; /* mellanrum mellan tid och namn */
    padding: 10px 15px;
    flex-wrap: wrap; /* gör raden responsiv på små skärmar */
    background-color: #85b3e0;
    border-bottom: 1px solid #ddd;
}

/* Stil för klockan */
.list-item-flex .time {
    font-weight: bold;
    color: #333;
    min-width: 50px;
    text-align: left;
}

/* Stil för programnamnet */
.list-item-flex .program-name {
    flex: 1; /* tar upp resterande utrymme */
    color: darkblue;
    font-weight: bolder;
    word-break: break-word; /* radbryt långa namn */
}

/* Responsivt: vid små skärmar bryts det till två rader */
@media (max-width: 600px) {
    .list-item-flex {
        flex-direction: column;
        align-items: flex-start;
    }
    .list-item-flex .time {
        font-size: 1rem;
        margin-bottom: 3px;
    }
}
