body {
  background-color: rgb(21, 116, 176);
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 20px;
}

/* Skip link – syns bara vid fokus */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000;
  color: #fff;
  padding: 8px;
  z-index: 100;
  text-decoration: none;
}

.skip-link:focus {
  top: 0;
}

h1 {
  color: yellow;
  font-weight: 900;
  font-style: italic;
  text-align: center;
}

.loading-spinner {
  width: 100%;
}

.hidden {
  display: none;
}

/* MENY */
.menu-icon {
  z-index: 2;
  position: absolute;
  left: 20px;
  top: 20px;
  padding: 10px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  color: white;
}

.menu-icon:hover {
  background-color: azure;
  color: black;
  border-radius: 10px;
  cursor: pointer;
}

ul.menu {
  padding: 80px 0;
  background-color: #333;
  color: white;
  position: absolute;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  z-index: 1;
}

ul.menu.menu--show {
  left: 0;
}

ul.menu li {
  list-style: none;
}

ul.menu li button {
  width: 100%;
  padding: 20px;
  background: none;
  border: none;
  color: white;
  text-align: left;
}

ul.menu li button:hover {
  background-color: #666;
  cursor: pointer;
}

/* Fokus-styling (VIKTIG FÖR ACCESSIBILITY) */
button:focus,
a:focus {
  outline: 3px solid #4caf50;
  outline-offset: 2px;
}

/* Innehåll */
.container-js {
  background-color: #333;
  border-radius: 10px;
}

/* Programlista */
.list-item-flex {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #85b3e0;
}

.time {
  font-weight: bold;
}

.program-name {
  font-weight: bolder;
}
